# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# uploads (manter pasta)
/public/uploads/membros/*
!/public/uploads/membros/.gitkeep
/public/uploads/logo/*
!/public/uploads/logo/.gitkeep
/public/uploads/patrimonio/*
!/public/uploads/patrimonio/.gitkeep

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/migrations/**/migration_lock.toml
/prisma/dev.db
/prisma/dev.db-journal
